/*font families*/
/*font-family: 'Courgette', cursive;
font-family: 'Open Sans', sans-serif;*/

/*General styles*/
*{
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #94BADF;
  margin: 0;
}
 h1{
  font-size: 3em;
  font-family: 'Courgette', cursive;
  padding: 15px;
}
h2{
  font-size: 2.5em;
  font-family: 'Courgette', cursive;
}
h3{
  font-size: 1.1em;
  font-family: 'Courgette', cursive;
}
.title{
  font-family: 'Courgette', cursive;
}
.container{
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}
/*video*/
video{
  position: relative;
  z-index: 1;
}
/*header*/
header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 2;
}
.header-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 200px;
  margin-top: 30px;
}
.header-links li{
  display: block;
  padding: 15px;
  border-radius: 5px;
}
.header-links li:hover{
  background-color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-links li:hover a{
  color: black;
}
.header-links a{
  text-decoration: none;
  color: white;
}
.description{
  text-align: center;
  text-shadow: 1px 1px 4px black;
  color: white;
  margin: 0 15px;
}
.description p{
  font-size: 2em;
  line-height: 1.5em;
  font-family: 'Courgette', cursive;
}
/*container with house proposals*/
.main-content{
  margin: -60px auto 0;
  padding-bottom: 30px;
  background-color: white;
  text-align: center;
}
/*input bits*/
.main-content input{
  width: 100%;
  background-color: #4D74A7;
  color: #94BADF;
  font-size: 1.5em;
  padding: 30px 10%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #94BADF;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #94BADF;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #94BADF;
}
:-moz-placeholder { /* Firefox 18- */
  color: #94BADF;
}
/*input bits end*/
.main-content h2{
  color: #4D74A7;
}
.single-row{
  display: flex;
  flex-direction: row;
  margin: 15px;
}
.single-box{
  border: solid 2px lightgrey;
  margin: 0 10px;
  text-decoration: none;
  color: #8E8E8E;
  position: relative;
}
.single-box:hover{
  border-color: #94BADF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single-box h3{
  color: #ABC743;
  padding: 30px 0 ;
  width: 100%;
}
.single-box p{
  padding: 15px;
}
.single-box img{
  width: 100%;
  height: auto;
}
.single-box_extra{
  display: block;
  color: #ABC743;
  text-align: left;
  padding: 0 15px 15px;
}
.price-tag{
  display: inline-block;
  position: absolute;
  text-align: left;
  left: -15px;
  top: 85px;
  padding: 15px;
  color: white;
  border-radius: 10px;
  background: rgba(171,199,67,1);
  background: -moz-linear-gradient(top, rgba(171,199,67,1) 0%, rgba(171,199,67,1) 50%, rgba(132,184,64,1) 51%, rgba(171,199,67,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(171,199,67,1)), color-stop(50%, rgba(171,199,67,1)), color-stop(51%, rgba(132,184,64,1)), color-stop(100%, rgba(171,199,67,1)));
  background: -webkit-linear-gradient(top, rgba(171,199,67,1) 0%, rgba(171,199,67,1) 50%, rgba(132,184,64,1) 51%, rgba(171,199,67,1) 100%);
  background: -o-linear-gradient(top, rgba(171,199,67,1) 0%, rgba(171,199,67,1) 50%, rgba(132,184,64,1) 51%, rgba(171,199,67,1) 100%);
  background: -ms-linear-gradient(top, rgba(171,199,67,1) 0%, rgba(171,199,67,1) 50%, rgba(132,184,64,1) 51%, rgba(171,199,67,1) 100%);
  background: linear-gradient(to bottom, rgba(171,199,67,1) 0%, rgba(171,199,67,1) 50%, rgba(132,184,64,1) 51%, rgba(171,199,67,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abc743', endColorstr='#abc743', GradientType=0 );


}
/*footer*/
.container_footer{
  max-width: 80%;
  margin: 0 auto;
  color:white;
  text-align: center;
}
.footer-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 15px;
}
.footer-links a{
  color: white;
  text-decoration: none;
}
  footer p {
  color: white;
  text-align: center;
  display: block;
  margin-bottom: 15px;
  line-height: 1.5em;
}
footer span {
  color: white;
  text-align: center;
  display: block;
  margin-bottom: 15px;
}
@media only screen and (max-width : 768px) {
    /*general styling*/
    .header-links{
      max-width: 100%;
    }
    .container{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    }
    /*header*/
    .description{
      max-width: 100%;
      margin: -175px 0 0 ;
    }
    /*main*/
    .main-content{
      margin: 0 auto;
    }
    .main-content input{
      margin-bottom: 30px;
    }
    /*footer*/
    
    .footer-links li{
      display: block;
      padding: 15px;
      border-radius: 5px;
    }
    .footer-links li:hover{
    background-color: white;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    }
    .footer-links li:hover a{
      color: black;
    }
    footer p {
      padding: 0 15px;
    }
}
@media only screen and (max-width : 480px) {
    /*general styling*/
    .container{
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    }
    /*header links*/
    video{
      display: none;
    }
    header {
      height: auto;
      position: static;
    }
    .description{
      display: none;
    }
    .header-links{
    /*display: block;*/
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    }
    /*main*/
    .main-content{
    margin: 0 auto;
    padding-bottom: 30px;
    background-color: white;
    text-align: center;
    }
    .single-row{
    flex-direction: column;
    margin: 15px;
    }
    .single-box{
    margin: 10px;
    text-decoration: none;
    color: #8E8E8E;
    position: relative;
    }
    /*footer*/
    .footer-links{
      margin-top: 5px;
      flex-direction: column;
      text-align: center;
    }
    .footer-links li{
      display: block;
      padding: 15px;
      border-radius: 5px;
    }

    .footer-links li:hover{
    background-color: white;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    }
    .footer-links li:hover a{
      color: black;
    }
    footer p span {
      display: none;
    }
}